* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


/* navbar */
.nav-container {
  height: 80px;
  padding: 2em 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container img {
  height: 60px;
}

#play-button {
  padding: 3px 20px;
  border-radius: 5px;
  background-color: #e9e9ed;
  border: 1px solid #9999a6;
}

#difficulty-selector {
  padding: 3px 50px 3px 0;
  border-radius: 5px;
  background-color: #e9e9ed;
  border: 1px solid #9999a6;
}

/* /navbar */


/* main */
main {
  background-color: #7fffd4;
  padding: 5em 0;
}

#grid-container-easy {
  margin: 0 auto;

  width: calc(70px * 10);

  display: flex;
  flex-wrap: wrap;
}

#grid-container-medium {
  margin: 0 auto;

  width: calc(70px * 9);

  display: flex;
  flex-wrap: wrap;
}

#grid-container-hard {
  margin: 0 auto;

  width: calc(70px * 7);

  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 70px;
  width: 70px;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.light-blue {
  background-color: lightblue;
}
/* /main */


/* footer */

footer {
  height: 60px;
  padding: 2em 1em;
}
/* /footer */
